<h2>Index page</h2>

{{#if todos.length}}


<ul>
    {{#each todos}}
    <li class="todo">
        <form action="/complete" method="POST">
            <label>

                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span class="completed">{{ this.title }}</span>
                {{else}}
                <input type="checkbox" name="completed">
                <span> {{ this.title }} </span>
                {{/if}}

                <input type="hidden" value="{{this.id}}" name="id">

                <div class="btns">
                    <button type="submit" class="btn btn-small">Save</button>

                    <button type="submit" class="btn btn-small pink accent-3">Delete</button>
                </div>
            </label>
        </form>
    </li>

    {{/each}}
</ul>

{{else}}
<p>No todos</p>
{{/if}}
